.starship-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background: #fff;
}
h3 {
  margin-bottom: 1em;
}

.spaceship-image {
  width: 15%;
  flex-grow: 1;
}

.general-info {
  flex-grow: 2;
}
